{% extends 'LmiSchoolBundle::base.html.twig' %}
{% form_theme edit_form 'LmiSchoolBundle::FormTemplate/fields.html.twig' %}

{% block title %}{{ 'lmi.school.common.teacher.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="teachers">
        {{ form_errors(edit_form) }}
        <form class="form-horizontal" method="POST" action="{{ path('teacher_update', {'name': teacher.canonicalName}) }}" {{ form_enctype(edit_form) }}>
            <fieldset>
                <legend>{{ 'lmi.school.common.teacher.update_teacher_title'|trans }} {{ teacher.name }}</legend>
                {{ form_row(edit_form.name) }}
                {{ form_row(edit_form.subject) }}
                {{ form_row(edit_form.birthday) }}
                {{ form_row(edit_form.hideBirthdayYear) }}
                {{ form_row(edit_form.category) }}
                {{ form_row(edit_form.room) }}
                {{ form_row(edit_form.stag) }}
                <div class="control-group">
                    {{ form_label(edit_form.contacts) }}
                    <div class="controls">
                        <a href="#" class="btn btn-mini" data-action="add"><i class="icon icon-plus"></i>Добавить запись</a>
                        <ul class="nav nav-list" data-prototype="{{ form_widget(edit_form.contacts.vars.prototype)|e }}">
                            <li class="divider"></li>
                            {% for child in edit_form.contacts %}
                                <li>
                                    {{ form_widget(child) }}
                                    <div class="controls">
                                        <a href="#" class="btn btn-mini" data-action="remove"><i class="icon icon-trash"></i>Удалить запись</a>
                                    </div>
                                </li>
                                <li class="divider"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {{ form_row(edit_form.email) }}
                {{ form_row(edit_form.education) }}
                {{ form_row(edit_form.biography) }}
                {{ form_row(edit_form.photo) }}
                <div class="control-group">
                    <label class="control-label">{{ 'lmi.school.common.teacher.old_image'|trans }}</label>
                    <div class="controls thumbnail span3">
                        <img src="{{ path('image_get', {'id': teacher.photo.imageId|default(0), 'size': 'medium'}) }}">
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(edit_form.projects) }}
                    <div class="controls">
                        <a href="#" class="btn btn-mini" data-action="add"><i class="icon icon-plus"></i>Добавить запись</a>
                        <ul class="nav nav-list" data-prototype="{{ form_widget(edit_form.projects.vars.prototype)|e }}">
                            <li class="divider"></li>
                            {% for child in edit_form.projects %}
                                <li>
                                    {{ form_widget(child) }}
                                    <div class="controls">
                                        <a href="#" class="btn btn-mini" data-action="remove"><i class="icon icon-trash"></i>Удалить запись</a>
                                    </div>
                                </li>
                                <li class="divider"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(edit_form.regards) }}
                    <div class="controls">
                        <a href="#" class="btn btn-mini" data-action="add"><i class="icon icon-plus"></i>Добавить запись</a>
                        <ul class="nav nav-list" data-prototype="{{ form_widget(edit_form.regards.vars.prototype)|e }}">
                            <li class="divider"></li>
                            {% for child in edit_form.regards %}
                                <li>
                                    {{ form_widget(child) }}
                                    <div class="controls">
                                        <a href="#" class="btn btn-mini" data-action="remove"><i class="icon icon-trash"></i>Удалить запись</a>
                                    </div>
                                </li>
                                <li class="divider"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button name="teacher-update" class="btn btn-success" type="submit">{{ 'lmi.school.common.save_button'|trans }}</button>
                        <button name="teacher-cancel" class="btn btn-info" type="button">{{ 'lmi.school.common.teacher.back_to_list'|trans }}</button>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(edit_form) }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('[name="teacher-cancel"]').first().click(function(e) {
            e.preventDefault();
            location.href = "{{ path('teachers') }}";
        });

        $('[data-action="add"]').click(function(e) {
            e.preventDefault();
            var link = $(e.currentTarget);

            var collection = link.parent().find('ul');
            var prototype = collection.data('prototype');
            var index = collection.find('li:not(.divider)').length;

            var newItem = $(prototype.replace(/__name__/g, index));
            var removeLink = $('[data-action="remove"]').first().clone();
            var removeLinkWrapper = $('<div class="controls"></div>');
            removeLinkWrapper.append(removeLink);

            var newItemWrapper = $('<li></li>');
            newItemWrapper.append(newItem);
            newItemWrapper.append(removeLinkWrapper);
            collection.append(newItemWrapper);
            collection.append('<li class="divider"></li>');
        });

        $(document).on('click', '[data-action="remove"]', function(e) {
            e.preventDefault();
            var link = $(e.currentTarget);

            var item = link.parentsUntil('ul').last();
            var dividerLink = item.next();
            if (dividerLink.hasClass('divider')) {
                dividerLink.remove();
            }
            item.remove();
        });
    </script>
{% endblock %}
