{% extends 'LmiSchoolBundle::base.html.twig' %}
{% form_theme form 'LmiSchoolBundle::FormTemplate/fields.html.twig' %}

{% block title %}{{ 'lmi.school.common.news.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="news">
        {{ form_errors(form) }}
        <form class="form-horizontal" method="POST" action="{{ path('news_update', {'identifier': news.identifier}) }}" {{ form_enctype(form) }}>
            <fieldset>
                <legend>{{ 'lmi.school.common.news.update_news_title'|trans }}</legend>
                {{ form_row(form.showDate) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                <div class="control-group">
                    <label class="control-label">Текущие картинки</label>
                    <div class="controls">
                        <ul class="thumbnails galery">
                            {% for currentImage in form.currentImages %}
                                <li class="span2" style="position: relative">
                                    <a href="#" class="thumbnail">
                                        <img src="{{ path('image_get', {'id': currentImage|default(0), 'size': 'thumb'}) }}"/>
                                    </a>
                                    <div class="remove-image hidden">
                                        <a href="#"><i class="icon icon-remove-circle"></i></a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {{ form_row(form.author) }}
                <div class="control-group">
                    <div class="controls">
                        <button name="news-update" class="btn btn-success">{{ 'lmi.school.common.save_button'|trans }}</button>
                        <button name="news-cancel" class="btn btn-danger">{{ 'lmi.school.common.cancel_button'|trans }}</button>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('[name="news-cancel"]').first().click(function(e) {
            e.preventDefault();
            location.href = "{{ path('news') }}";
        });
    </script>
{% endblock %}
