{% extends 'LmiSchoolBundle::base.html.twig' %}

{% block title %}{{ 'lmi.school.common.news.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="news">
        <h3 class="text-left">{{ 'lmi.school.common.news.title'|trans }}</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav nav-pills">
                <li><a href="{{ path('news_new') }}">Добавить<i class="icon icon-plus"></i></a></li>
            </ul>
        {% endif %}

        <ul class="thumbnails">
            {% for news in newsList %}
                <li class="span3">
                    <a href="{{ path('news_show', {'identifier': news.identifier }) }}" class="thumbnail">
                        {% set image = path('image_get', {'id': news.firstImage|default(0), 'size': 'small'}) %}
                        <img src="{{ image }}">
                        <div class="caption">
                            <h4>
                                <span class="muted"><em>{{ news.showDate|date('d.m.Y') }}</em></span>
                                <span>{{ news.title }}</span>
                            </h4>
                        </div>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul class="nav nav-pills">
                            <li>
                                <a href="{{ path('news_edit', {'identifier': news.identifier }) }}"><i class="icon icon-pencil"></i></a>
                            </li>
                            <li>
                                <a href="{{ path('news_delete', {'identifier': news.identifier }) }}" data-action="remove"><i class="icon icon-trash"></i></a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            {% else %}
                <div class="alert alert-info">{{ 'lmi.school.common.no_records'|trans }}</div>
            {% endfor %}
            {% if newsList %}
                <li>
                    <div class="navigation">
                        {{ knp_pagination_render(newsList) }}
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    {% if is_granted('ROLE_ADMIN') %}
        <script>
            $('[data-action="remove"]').click(function(e) {
                e.preventDefault();
                var url = $(e.currentTarget).attr('href');

                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function(response) {
                        console.log(response);
                        if (response == 'OK') {
                            $(e.currentTarget).parentsUntil('ul.thumbnails').last().remove();
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
