{% extends 'LmiSchoolBundle::base.html.twig' %}

{% block title %}{{ 'lmi.school.common.news.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="news">
        <h3>{{ news.title }}</h3>
        <div class="clearfix">
            <div class="span5">
                {% set image = path('image_get', {'id': news.image.imageId|default(0), 'size': 'medium'}) %}
                <img src="{{ image }}" class="thumbnail pull-left span11">
            </div>
            <p>{{ news.content|markdown }}</p>
        </div>
        <div class="text-right padding-top-10">
            <small><em>{{ news.author }}:&nbsp;{{ news.lastUpdate|date('d.m.Y H:i') }}</em></small>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="text-center padding-top-10">
        <ul class="nav nav-pills">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('news_edit', {'identifier': news.identifier }) }}"><i class="icon icon-pencil"></i></a>
                </li>
                <li>
                    <a href="{{ path('news_delete', {'identifier': news.identifier }) }}" data-action="remove"><i class="icon icon-trash"></i></a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('news') }}">{{ 'lmi.school.common.news.back_to_list'|trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
