{% extends 'LmiSchoolBundle::base.html.twig' %}

{% block title %}{{ 'lmi.school.common.news.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="news">
        <h3>{{ news.title }}</h3>
        <div>
            <div class="span5">
                {% set image = path('image_get', {'id': news.firstImage|default(0), 'size': 'small'}) %}
                <img src="{{ image }}" class="thumbnail pull-left span11">
            </div>
            <div>{{ news.content|markdown }}</div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="text-right padding-top-10">
            <small><em>{{ news.author }}:&nbsp;{{ news.lastUpdate|date('d.m.Y H:i') }}</em></small>
        </div>

        <h4>Фотогалерея</h4>
        <hr>
        <ul class="thumbnails galery">
            {% for image in news.images %}
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="{{ path('image_get', {'id': image|default(0), 'size': 'thumb'}) }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="text-center padding-top-10">
        <ul class="nav nav-pills">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('news_edit', {'identifier': news.identifier }) }}"><i class="icon icon-pencil"></i></a>
                </li>
                <li>
                    <a href="{{ path('news_delete', {'identifier': news.identifier }) }}" data-action="remove"><i class="icon icon-trash"></i></a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('news') }}">{{ 'lmi.school.common.news.back_to_list'|trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
