{% extends 'LmiSchoolBundle::base.html.twig' %}

{% block title %}{{ 'lmi.school.common.room.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="rooms">
        <h3 class="text-left">{{ 'lmi.school.common.room.title'|trans }}</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav nav-pills">
                <li><a href="{{ path('room_new') }}">{{ 'lmi.school.common.add'|trans }} <i class="icon icon-plus"></i></a></li>
            </ul>
        {% endif %}

        <ul class="thumbnails">
            {% for room in entities %}
                <li>
                    <h4>
                        <span>{{ 'lmi.school.common.room.number'|trans }} {{ room.number }}</span>
                    </h4>
                    {% set image = path('image_get', {'id': room.images.first.imageId|default(0), 'size': 'thumb'}) %}
                    <a class="btn-link" href="{{ path('room_show', {'number': room.number }) }}">
                        <img src="{{ image }}" class="thumbnail thumb">
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="controls">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a href="{{ path('room_edit', {'number': room.number }) }}">
                                            {{ 'lmi.school.common.edit'|trans }} <i class="icon icon-pencil"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('room_delete', {'number': room.number }) }}" data-action="remove">
                                            {{ 'lmi.school.common.delete'|trans }} <i class="icon icon-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    {% endif %}
                </li>
            {% else %}
                <div class="alert alert-info">{{ 'lmi.school.common.no_records'|trans }}</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
