{% extends 'LmiSchoolBundle::base.html.twig' %}

{% block title %}{{ 'lmi.school.common.room.page_title'|trans }}{% endblock %}

{% block content %}
    <div id="room">
        {% set room = entity %}
        <h3 class="text-left">{{ 'lmi.school.common.room.number'|trans }} <span>{{ room.number }}</span></h3>
        <div class="clearfix">
            <div class="pull-left">
                {% set image = path('image_get', {'id': room.images.first.imageId|default(0), 'size': 'small'}) %}
                <img src="{{ image }}" class="thumbnail small">
            </div>
            <div class="content">
                <p>{{ room.description|markdown }}</p>
            </div>
        </div>
        <div>
            <div>
                <span class="text-bold">{{ 'lmi.school.common.room.responsible'|trans }}</span>
                <span>
                    <a href="{{ path('teacher_show', {'name': room.responsible.canonicalName}) }}">{{ room.responsible.name }}</a>
                </span>
            </div>
            <div>
                <span class="text-bold">{{ 'lmi.school.common.room.fire_safety_responsible'|trans }}</span>
                <span>
                    <a href="{{ path('teacher_show', {'name': room.fireSafetyResponsible.canonicalName}) }}">{{ room.fireSafetyResponsible.name }}</a>
                </span>
            </div>
        </div>
        <div class="divider">&nbsp;</div>
        <ul class="nav nav-pills">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('room_edit', {'number': room.number }) }}">
                        {{ 'lmi.school.common.edit'|trans }} <i class="icon icon-pencil"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('room_delete', {'number': room.number }) }}" data-action="remove">
                        {{ 'lmi.school.common.delete'|trans }} <i class="icon icon-trash"></i>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('rooms') }}">
                    {{ 'lmi.school.common.show_all'|trans }} <i class="icon icon-list"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
